@import '@/assets/scss/colors';

@mixin table {
    width: 650px;
    text-align: left;
    color: $textColor;

    @media (max-width: 700px) {
        width: 100%;
    }
}

@mixin bodyPage {
    min-height: 100vh;
    max-width: 80%;
    padding: 1%;
    margin: auto;

    @media (max-width: 700px) {
        max-width: 100%;
    }
}