.scheduleList h3 {
    margin-top: 100px;
}

.scheduleList p {
    margin: 10px;
    font-size: 18px;
}

.scheduleList a {
    font-size: 18px;
    color: lightseagreen;
}

.scheduleList h4 {
    margin-top: 10px;
}