@import '@/assets/scss/mixins';

.standings {
    @include bodyPage
}

.standings h2 {
    margin: 10px 0 0 0;
}

.standings h3 {
    margin: 50px 0 0 0;
}

.constructors {
    max-width: 100%;
    border-top: 1px solid #00008B;
    margin: 20px 0 0 0;
    padding: 20px 0 20px 0;
}

.constructors h3 {
    margin: 0;
}